<div class="btn-group">
  <a class="btn btn-default glyphicon glyphicon-plus" href="{{C.P}}{{path}}{{C.X}}create"></a>
  <a class="btn btn-default glyphicon glyphicon-edit" href="{{C.P}}{{path}}{{C.X}}edit"></a>
  <a class="btn btn-default glyphicon glyphicon-cog" href="{{C.P}}{{path}}{{C.X}}res-list"></a>
</div>
