<ol class="breadcrumb">
  <li><a href="{{C.P}}/.x-res-list">HOME</a></li>
  {{#include "." "parentpages"}}
    <li><a href="{{C.P}}{{path}}{{R.SUFFIX}}">{{name}}</a></li>
  {{/include}}
  <li class="active">{{R.NAME}}</li>
</ol>
