  <a target="_blank" href="{{R.PATH}}/{{name}}">[v]</a>
  <a target="_blank" href="{{R.PATH}}/{{name}}.x-edit">[e]</a>

  <a href="{{path}}.x-res-delete">[x]</a>
  <a href="{{path}}.x-res-copyto{{path}}/..">[c]</a>
  <a href="{{path}}.x-res-moveto{{path}}/..">[m]</a>
  <a href="{{path}}.x-res-properties">[p]</a>
